{{#partial "content"}}
    {{#each userSquad}}
        <a href="/squads/{{id}}">
            <p>{{theme}}</p>
            <img src="{{url}}" alt="Squad">
            <p>{{squadName}}</p>
            <p>{{maxHeroes}}</p>
        </a>
    {{/each}}
{{/partial}}
{{> layout.hbs}}